$primary-bg-color: #e0e5f2;
$secondary-bg-color: #171b34;
$button-bg-color: #1a6eb3;
$font-color: #333;
$header-color: #5f6499;
$border-radius: 10px;
$active-button-bg: #ffffff;
$inactive-button-bg: $button-bg-color;
$inactive-button-color: #ffffff;
$text-color: #405864;
$title-color: #415764;
$background-color: rgba(242, 245, 252, 0.95);
$input-bg-color: #ffffff;
$input-border-color: #cccccc;
$text-color: #405864;
$title-color: #415764;
$text-page-color: #0f6390;
$title-page-color: #0c496b;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
$bg-active-color: #0f6390;
$bg-button: white;
$hover-color: #0b4f73;