$primary-bg-color: #e0e5f2;
$secondary-bg-color: #171b34;
$button-bg-color: #1a6eb3;
$font-color: #333;
$header-color: #5f6499;
$border-radius: 8px;
$active-button-bg: #ffffff;
$inactive-button-bg: $button-bg-color;
$inactive-button-color: #ffffff;
