// Variables pour les couleurs
@import "_variables";

.metrics {
  background-color: white;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  margin-top: 30px;
  padding-bottom: 20px;
  letter-spacing: 0.1rem;
}

.metrics__header {
  width: 100%;

  background-color: $bg-active-color;
  border-radius: $border-radius;
  color: white;
  padding: 8px 10px;
  font-weight: bold;
  margin-bottom: 20px;
}

.metrics__item {
  padding: 10px;

  >span:nth-child(1) {
    display: inline-block;
    width: 30%;
    font-weight: bold;
    color: $bg-active-color;
  }

  >span:nth-child(2) {
    color: $text-color;
  }
}